<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
   
    <%- include('nav.ejs') %>  
    <!-- <%= JSON.stringify(result) %>  제이슨 파일로 출력 확인 -->
    <!-- html 처럼 나오려면 - 로표기 = 는 문자나 숫자처럼 나옴 -->
    <div class="detail-bg">
        <h4><%= result.title %></h4> 
        <h4><%= result.content %></h4> 
    </div> 
    
  </body>
</html>