<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>

<body class="grey-bg">
    <%- include('nav.ejs') %>     
    
    <!-- html 처럼 나오려면 - 로표기 = 는 문자나 숫자처럼 나옴 -->
    
    
    <% for (let i=0; i <글목록.length; i++){%>
    <div class="white-bg">
      <div class="list-box">
        <a href="/detail/<%= 글목록[i]._id %>">
          <%= 글목록[i].title %>
        </a>

        <a href="/edit">✏️</a>
        <h4><%= 글목록[i].content %></h4> 
        <!-- <p>글내용임</p> -->
      </div>
      <!-- <div class="list-box">
        <h4>글제목임</h4> 하드코딩
        <p>글내용임</p>
      </div> -->
    </div> 
    <%} %>

    
    
  
  </body>
</html>