<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="main.css" rel="stylesheet">
</head>
<body class="grey-bg">
   
    <%- include('nav.ejs') %>  
    <!-- html 처럼 나오려면 - 로표기 = 는 문자나 숫자처럼 나옴 -->
    
    <form class="form-box">
        <h4>글쓰기</h4>
        <input>
        <input>
        <button type="submit">전송</button>
    </form> 

    
    
  
  </body>
</html>